.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
/.idea/*
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/Debug.dir/build.make
/cmake-build-debug/CMakeFiles/Debug.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Debug.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Debug.dir/progress.make
/cmake-build-debug/CMakeFiles/Production.dir/build.make
/cmake-build-debug/CMakeFiles/Production.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Production.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Production.dir/progress.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
/cmake-build-debug/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/WltoysControl.cbp
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CompilerIdC/a.exe
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CompilerIdCXX/a.exe
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CMakeCCompiler.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/3.17.3/CMakeSystem.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/build.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/cmake_clean.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/depend.internal
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/depend.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/DependInfo.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Debug.dir/progress.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/build.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/cmake_clean.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/depend.internal
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/depend.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/DependInfo.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Production.dir/progress.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/clion-environment.txt
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/clion-log.txt
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/cmake.check_cache
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/CMakeError.log
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/CMakeOutput.log
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/CMakeRuleHashes.txt
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Makefile.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/Makefile2
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/progress.marks
/cmake-build-esp8266doit-devkit-v1/CMakeFiles/TargetDirectories.txt
/cmake-build-esp8266doit-devkit-v1/Testing/Temporary/LastTest.log
/cmake-build-esp8266doit-devkit-v1/cmake_install.cmake
/cmake-build-esp8266doit-devkit-v1/CMakeCache.txt
/cmake-build-esp8266doit-devkit-v1/Makefile
/cmake-build-esp8266doit-devkit-v1/WltoysControl.cbp
/venv/Include/boolobject.h
/venv/Include/errcode.h
/venv/Include/eval.h
/venv/Include/pyctype.h
/venv/Lib/encodings/ascii.py
/venv/Lib/encodings/cp855.py
/venv/Lib/encodings/gb2312.py
/venv/Lib/encodings/iso8859_8.py
/venv/Lib/encodings/iso8859_10.py
/venv/Lib/site-packages/pip/_internal/commands/check.py
/venv/Lib/site-packages/pip/_internal/commands/completion.py
/venv/Lib/site-packages/pip/_internal/index/__init__.py
/venv/Lib/site-packages/pip/_internal/req/req_uninstall.py
/venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__init__.py
/venv/Lib/site-packages/pip/_internal/resolution/base.py
/venv/Lib/site-packages/pip/_internal/utils/urls.py
/venv/Lib/site-packages/pip/_internal/cache.py
/venv/Lib/site-packages/pip/_vendor/chardet/big5prober.py
/venv/Lib/site-packages/pip/_vendor/idna/compat.py
/venv/Lib/site-packages/pip/_vendor/msgpack/__init__.py
/venv/Lib/site-packages/pip/_vendor/packaging/version.py
/venv/Lib/site-packages/pip/_vendor/pep517/envbuild.py
/venv/Lib/site-packages/pip/_vendor/requests/__init__.py
/venv/Lib/site-packages/pip/_vendor/requests/packages.py
/venv/Lib/site-packages/pip/_vendor/resolvelib/resolvers.py
/venv/Lib/site-packages/pip-20.3.3.dist-info/INSTALLER
/venv/Lib/site-packages/setuptools/_vendor/six.py
/venv/Lib/site-packages/setuptools/command/test.py
/venv/Lib/site-packages/setuptools/gui-64.exe
/venv/Lib/site-packages/setuptools/sandbox.py
/venv/Lib/site-packages/setuptools/unicode_utils.py
/venv/Lib/_weakrefset.py
/venv/Scripts/pip.exe
/venv/tcl/tcl8.5/encoding/iso8859-16.enc
/venv/tcl/tcl8.5/msgs/af.msg
/venv/tcl/tcl8.5/msgs/de_be.msg
/venv/tcl/tcl8.5/msgs/en_zw.msg
/venv/tcl/tcl8.5/msgs/es_hn.msg
/venv/tcl/tcl8.5/msgs/et.msg
/venv/tcl/tcl8.5/msgs/sl.msg
/venv/tcl/tcl8.5/tzdata/Africa/Dakar
/venv/tcl/tcl8.5/tzdata/Africa/Dar_es_Salaam
/venv/tcl/tcl8.5/tzdata/Africa/El_Aaiun
/venv/tcl/tcl8.5/tzdata/Africa/Luanda
/venv/tcl/tcl8.5/tzdata/America/Indiana/Marengo
/venv/tcl/tcl8.5/tzdata/America/Anchorage
/venv/tcl/tcl8.5/tzdata/America/Belem
/venv/tcl/tcl8.5/tzdata/America/Caracas
/venv/tcl/tcl8.5/tzdata/America/Dominica
/venv/tcl/tcl8.5/tzdata/America/Iqaluit
/venv/tcl/tcl8.5/tzdata/America/Lima
/venv/tcl/tcl8.5/tzdata/America/Martinique
/venv/tcl/tcl8.5/tzdata/America/Rio_Branco
/venv/tcl/tcl8.5/tzdata/America/St_Barthelemy
/venv/tcl/tcl8.5/tzdata/America/Swift_Current
/venv/tcl/tcl8.5/tzdata/Antarctica/South_Pole
/venv/tcl/tcl8.5/tzdata/Antarctica/Vostok
/venv/tcl/tcl8.5/tzdata/Asia/Baghdad
/venv/tcl/tcl8.5/tzdata/Asia/Chongqing
/venv/tcl/tcl8.5/tzdata/Asia/Dubai
/venv/tcl/tcl8.5/tzdata/Asia/Kuala_Lumpur
/venv/tcl/tcl8.5/tzdata/Atlantic/Faroe
/venv/tcl/tcl8.5/tzdata/Brazil/Acre
/venv/tcl/tcl8.5/tzdata/Etc/GMT0
/venv/tcl/tcl8.5/tzdata/Europe/Moscow
/venv/tcl/tcl8.5/tzdata/Europe/Simferopol
/venv/tcl/tcl8.5/tzdata/Europe/Zagreb
/venv/tcl/tcl8.5/tzdata/Pacific/Fakaofo
/venv/tcl/tcl8.5/tzdata/SystemV/AST4
/venv/tcl/tcl8.5/tzdata/SystemV/HST10
/venv/tcl/tcl8.5/tzdata/GB-Eire
/venv/tcl/tcl8.5/tzdata/Israel
/venv/tcl/tcl8.5/tzdata/Libya
/venv/tcl/tcl8.5/history.tcl
/venv/tcl/tk8.5/demos/images/pattern.xbm
/venv/tcl/tk8.5/demos/aniwave.tcl
/venv/tcl/tk8.5/demos/paned2.tcl
/venv/tcl/tk8.5/msgs/pl.msg
/venv/tcl/tk8.5/ttk/clamTheme.tcl
/venv/tcl/tk8.5/console.tcl
